############################################
# 📁 ARCHIVOS PARTICULARES DE ESTE PROYECTO
############################################

data/o1_bronze/*
!data/o1_bronze/.gitkeep

data/o2_silver/*
!data/o2_silver/.gitkeep

data/o3_gold/*
!data/o3_gold/.gitkeep

data/o4_external/*
!data/o4_external/.gitkeep

# Logs por etapa
logs/o1_extraction_logs/*
!logs/o1_extraction_logs/.gitkeep

logs/o2_cleaning_logs/*
!logs/o2_cleaning_logs/.gitkeep

logs/o3_transformation_logs/*
!logs/o3_transformation_logs/.gitkeep

logs/o4_modeling_logs/*
!logs/o4_modeling_logs/.gitkeep

logs/o5_serving_logs/*
!logs/o5_serving_logs/.gitkeep

logs/utils_logs/*
!logs/utils_logs/.gitkeep

# Evitar subir caché de notebooks
notebooks/__pycache__/

############################################
# 💻 SISTEMA OPERATIVO Y ARCHIVOS TEMPORALES
############################################

.DS_Store
__MACOSX
Thumbs.db

############################################
# 🧪 ENTORNOS VIRTUALES
############################################

.env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

############################################
# ⚙️ PYTHON - ARCHIVOS TEMPORALES Y COMPILADOS
############################################

*.pyc
*.pyo
*.pyd
*.so
__pycache__/
*.py[cod]
*$py.class
.Python

############################################
# 🧪 TESTING Y COVERAGE
############################################

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.hypothesis/
cover/
.dmypy.json
.mypy_cache/
.pytype/
.pyre/

############################################
# 🧪 JUPYTER NOTEBOOKS
############################################

.ipynb_checkpoints
*checkpoint.ipynb

############################################
# ⚙️ CONFIGURACIONES DE EDITORES
############################################

.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

############################################
# 📦 SETUP Y PAQUETES
############################################

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
*.manifest
*.spec
.installed.cfg
MANIFEST
*.zip
*.tar.gz
*.gz
wheels/
share/python-wheels/
pip-log.txt
pip-delete-this-directory.txt

############################################
# 🚀 FRAMEWORKS Y TOOLS (Flask, Django, etc.)
############################################

instance/
.webassets-cache
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
scrapy/
docs/_build/
.pybuilder/
target/
.site/
mlruns/

############################################
# 🧪 ARCHIVOS PARTICULARES SEGÚN PROYECTO
############################################

# Archivos CSV sueltos
*.csv


############################################
# 🧪 CLAVE DE GCP
############################################

meli_key.json
